* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 16px 32px;
}

p {
  margin-bottom: 8px;
}

.home {
  min-height: 100vh;
  color: white;
  background-color: #8A1538;
}

.btn+.btn {
  margin-left: 8px;
}

.card {
  height: 100%;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table {
  background-color: white;
}